###########
#IntelliJ IDEA
.idea/

# Compiled output
/out/
/classes/
/target/

# Dependency directories
/.gradle/
/.idea_modules/
/maven/

# Testing
/test-output/
/.test-results/

# Editor-specific files
*.iml
*.ipr
*.iws
*.idea/

###########
# Python entries
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
.env

# Virtual environments
venv/
env/
.env/
.env.bak/
pip-selfcheck.json

# Additional IDE-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Testing
htmlcov/
.coverage
.tox/

# Logs and temporary files
*.log
*.swp
*~


# Custom entries:
openAI-Chatbot-log.json
conversation_history_*.json